body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

/*a,*/
/*a:visited {*/
  /*color: #00855a;*/
  /*-webkit-transition: all .35s;*/
  /*-moz-transition: all .35s;*/
  /*transition: all .35s;*/
/*}*/

/*a:hover,*/
/*a:active,*/
/*a:visited {*/
  /*color: #004a30;*/
/*}*/

.navbar-default {
 background-color: #fff;
}

.navbar-brand img {
  height: 1.5em;
}

.navbar-right-info {
  height: 0;
}

.navbar-right-info li {
  margin-top: -27px;
}

.navbar-right-info-link img {
  height: 6em;
}

.with-border {
  border: solid thin;
}

.img-row {
  min-height: 450px;
}

.intro-section {
  padding-top: 50px;
}

.intro-section .img-row {
  background: url(../img/firma.jpg) no-repeat center center scroll;
}

.stock-section .img-row {
  background: url(../img/oferta.jpg) no-repeat center center scroll;
}

.contact-section .img-row {
  background: url(../img/kontakt.jpg) no-repeat center center scroll;
}

.news-section .img-row {
  background: url(../img/aktualnosci.jpg) no-repeat center center scroll;
}

.btn {
  border: 0;
  border-radius: 0px;
  font-size: 1.5em;
}

.btn-xl {
  padding: 15px 30px;
}

.btn-margin-top {
  margin-top: 80px;
}

.btn-margin-bottom {
  margin-bottom: 80px;
}

.btn-green {
  color: #fff;
  background-color: #00855a;
  word-wrap: break-word;
  white-space: normal;
  width: 78%;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-color: #004a30;
}

.col-eq-height.row {
  padding: 30px;
}

.column-margin {
  height: 40px;
  width: 40px;
}

.col-eq-height [class*="col-"] {
  padding: 10px;
}

.footer {
  padding: 10px;
  border-top: solid thin;
}

@media (min-width: 767px) {
  .navbar {
    padding: 40px 0;
    border-bottom: solid thin;
  }

  .navbar-brand {
    padding-left: 40px;
    padding-top: 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
  }

  .navbar-brand img {
    height: 3em;
  }

  .top-nav-collapse .navbar-brand {
    font-size: 1.0em;
    padding-top: 5px;
  }

  .navbar li {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
  }

  .navbar li.active {
    font-weight: bold;
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:active,
  .navbar-default .navbar-nav>.active>a:link {
    background-color: #fff;
  }

  .nav>li>a,
  .nav>li>a:focus,
  .nav>li>a:hover,
  .nav>li>a:active,
  .nav>li>a:link {
    background-color: #fff
  }

  .intro-section {
    padding-top: 130px;
  }

  .col-eq-height.row {
    display: table;
    padding: 80px;
  }

  .col-eq-height [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-width: 1200px) {
  .col-eq-height.row {
    padding-left: 200px;
    padding-right: 200px;
  }
}