input {
    margin: 1px;
}

.with-padding {
    padding: 10px;
}

.with-top-padding {
    padding-top: 15px;
}

.full-width {
    width: 100%;
}

.news-preview {
    border-style: solid;
    border-width: 1px;
}

.body-editor {
  min-height: 150px;
}